*{
    margin: 0px;
    padding: 0px;
    font-family: 'Encode Sans SC', sans-serif;
    box-sizing: border-box;
    outline: none;
}
html{
    font-size: 15px;
    overflow-x: hidden;
}

/* top nav icons start */
.top-nav-icons{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom  : 5px;
    background: #373c42;
}
.top-nav-icons-inner{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.top-nav-icons .icons{
    width:30%;
    display: flex;
}
.top-nav-icons .icons li{
    background: #4d545e;
    padding: 10px;
    border-radius: 100%;
    color: #fff;
    list-style: none;
    margin: 7px;
    transition: .5s;
    transition-property: background;
    cursor: pointer;
}
.top-nav-icons .icons li:hover{
    background: red;
}

.top-nav-icons-inner .links{
    width: 65%;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    color: #fff;
}
.top-nav-icons-inner .links p{
    padding: 0 10px;
    cursor: pointer;
}
.top-nav-icons-inner .links .main::after{
    content: "|";
    margin-left: 10px;
}
.top-nav-icons-inner .links .main::before{
    content: "|";
    margin-right: 10px;
}

/* top banner start */
.top-banner{
    width: 100%;
    background: #4d545e;
    padding-top: 30px;
    padding-bottom: 200px;
}
.top-banner-inner{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
    padding: 0 1%;
}
.top-banner-inner input{
    background: #66727e;
    border: none;
    padding: 5px;
    width: 250px;
}
.top-banner-inner input::placeholder{
    color: #fff;
}
.top-banner-inner button{
    background: #31363c;
    border: none;
    padding: 5px 20px;
    color: #fff;
}

/* main section start */
.main-banner{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    top: -150px;
    background: #fff;
    box-shadow: 0px 5px 7px 0px silver;
    padding-bottom: 100px;
}
.main-banner select{
    width: 100%;
    background: #31363c;
    padding: 10px;
    color: #FFF;
    display: none;
}
.main-banner select option{
    background: #949494;
    padding: 10px;
    margin-top: 20px;
}
.main-banner nav{
    display: flex;
    list-style: none;
    background: #31363c;
}
.main-banner nav li{
    padding: 10px 20px;
    color: #fff;
    transition: 1s;
    transition-property: background;
}
.main-banner nav li:hover{
    background:#66727e ;
    cursor: pointer;
}

/* banner image */
.banner-img{
    background-color: skyblue;
    background-image:url('../images/banner.jpg');
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    margin-top: 20px;
    border:10px solid silver ;
    border-radius: 20px;
    animation: banner 20s linear infinite alternate;
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes banner{
    20%{
          background-image: url(../images/banner1.jpg);    
    }
    40%{
          background-image: url('../images/banner2.jpg');
    }

    60%{
        background-image: url('../images/banner3.jpg');
    }

    80%{
        background-image: url('../images/banner\ 4.jpg');
    }
    
    100%{
       background-image: url('../images/banner5.jpg');
    }
}

.main-banner .four-section{
    width: 90%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.main-banner .four-section .box{
    width: 23%;
    text-align: center;
    padding: 2% 2%;
    box-shadow: 0px 5px 7px 0px skyblue;
    transition: 1s;
    z-index: 10;
    cursor: pointer;
}
.main-banner .four-section .box:hover{
    transform: rotate(50deg)

}
.main-banner .four-section .box i{
    font-size: 4rem;
}
.main-banner .four-section .box h2{
    font-size: 1rem;
    margin: 20px 0px;
}
.main-banner .four-section .box p{
     text-align: justify;
}

/* quote section start */
.quote{
    width:90%;
    text-align: center;
    padding: 2% 0%;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    margin: 0 auto;
    line-height: 30px;
    font-size: 1.5rem;
    font-style: italic;
}

/* main banner last-section */
.last-section{
    width: 90%;
    margin: 0 auto;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.last-section .box{
    width: 23%;
}
.last-section .box img{
    width: 100%;
}
.last-section .box h1{
    font-size: 1.2rem;
    font-weight: 700;
}
.last-section .box p{
    font-size: 0.8rem;
    margin-top: 20px;
}
.last-section .box h5{
    font-weight: 800;
    margin-top: 20px;
    cursor: pointer;
}
/* last section ends */

/* about section start */

.about-section{
    width:100%;
    padding: 5% 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ededed;
}
.about-section .box{
    width: 32%;
}
/* box 1 */
.about-section .box1 h3{
    margin-bottom: 20px;
    color: #4d545e;
}
.about-section .box1 h2{
    margin: 20px 0px;
    color: #4d545e;
}
.about-section .box1 p{
    color: rgb(131, 131, 131);
}


/* box 2 */
.about-section .box2 h3{
    color: #4d545e;
}
.about-section .box2 p{
    color: rgb(131, 131, 131);
    margin-top: 15px;
}

/* box 3 */
.about-section .box3 h3{
    color: #4d545e;
    margin-bottom: 15px;
}
.about-section .box3 p{
    margin: 20px 0px;
   color: rgb(131, 131, 131);
}
.about-section .box3 form input{
    width: 100%;
    margin-top: 10px;
    height: 30px;
    border: none;
    padding: 5px;
}
.about-section .box3 form button{
    background: #373c42;
    color: #FFF;
    padding: 5px 20px;
    margin-top: 10px;
}
.about-section .box3 h5{
    margin-top: 20px;
}

/* about section ends */

/* footer section start */
footer{
    width: 100%;
    background: #ededed;
    padding: 2% 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #373c42;
    color: rgb(131, 131, 131);
}

/* media query start */

@media only screen and (max-width:646px){

     /* top navigatiom */
     .top-nav-icons .icons{
         display: none;
     }
     .top-nav-icons-inner .links{
         width: 100%;
         padding-bottom: 20px;
         justify-content: center;
     }

     /* top navbar */
     .top-banner-inner form{
        width: 100%;
        margin-top: 20px;
     }

     /* last-section */
     .last-section .box{
         width: 95%;
         margin: 0 auto;
     }

}


@media only screen and (max-width:861px){
    .main-banner nav li{
        display: none;
    }

    .main-banner select{
        display: block;
    }

    /* main banner four section */
    .main-banner .four-section .box{
        width: 95%;
        margin: 0 auto;
    }
}


@media only screen and (max-width:768px){
    html{
        font-size: 12px;
    }
    .about-section .box{
        width: 100%;
        margin-top: 30px;
    }

    footer p{
           display: block;
           margin: 0 auto;
           margin-top: 20px;
           
    }
}